body {
    font-family:  'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}
/* Jumbotron styling */
.jumbotron {
    background-image: url('/resources/static/img/ai-banner11.png');
    background-size: cover; /* 배경 이미지가 요소를 꽉 채우도록 설정 */
    background-position: center; /* 배경 이미지가 가운데에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복을 막음 */
    color: #fff;
    /*border-radius: 10px;*/
    padding: 2.5rem 9.5rem;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    margin-top:70px;
}

/* Jumbotron styling */
.jumbotron {
    background-image: url('/resources/static/img/ai-banner11.png');
    background-size: cover; /* 배경 이미지가 요소를 꽉 채우도록 설정 */
    background-position: center; /* 배경 이미지가 가운데에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복을 막음 */
    color: #fff;
    /*border-radius: 10px;*/
    padding: 2.5rem 9.5rem;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    margin-top:70px;
}

.jumbotron h1 {
    font-size: 2.5rem;
    font-family: 'Noto Sans KR';
}

.jumbotron p {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR';
}


.content {
    padding:50px 10% 0 10%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    font-family:'Noto Sans KR';
}

.title{
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    font-family:'Noto Sans KR';
    /* position:relative;
    bottom:150px; */
}

.h-title{
    font-weight: bold;
    text-align:left;
    font-family:'Noto Sans KR';
}


.table-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width:fit-content;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    text-align:center;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #313132;
    color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.container2{
    display:flex;
    justify-content: flex-start;
    width:100%;
    gap:15%;
    margin:30px;
}

.container2.centered {
    gap: 5%;                 /* 간격 조정 */
}

.box{
    width:50%;
}

#answer{
    margin:35px 0;
}

.box2{
    width:50%;
}

.buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.answer-box{
    margin:30px 0;
}

/* 아코디언 버튼 스타일 */
.accordion {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
}
/* 버튼이 클릭되었을 때 배경색 변경 */
.accordion.active {
    background-color: #ccc;
}
.accordion:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
/* 아코디언 패널 (숨겨진 내용) */
.panel {
    padding: 0 10px;
    background-color: #d0d0d042;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}


.table-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width:fit-content;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    text-align:center;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #313132;
    color: white;
}

.tag{
    display:flex;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
}

#next{
    background-color: #31628b;
    border-color: #31628b;
}

.logout-form{
    margin-bottom: 0px !important;
}

