body {
    font-family:  'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}
/* Jumbotron styling */
.jumbotron {
    background-image: url('/resources/static/img/ai-banner11.png');
    background-size: cover; /* 배경 이미지가 요소를 꽉 채우도록 설정 */
    background-position: center; /* 배경 이미지가 가운데에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지 반복을 막음 */
    color: #fff;
    /*border-radius: 10px;*/
    padding: 2.5rem 9.5rem;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    margin-top:70px;
}
.jumbotron h1 {
    font-weight:500;
    font-family: 'Noto Sans KR';
}
.jumbotron p {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR';
}

.content {
    padding:50px 10% 0 10%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    font-family:'Noto Sans KR';
}

.title{
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    font-family:'Noto Sans KR';
    /* position:relative;
    bottom:150px; */
}

.h-title{
    font-weight: bold;
    text-align:left;
    font-family:'Noto Sans KR';
}


/* box2 기본적으로 숨기기 */
.box2 {
    /* opacity: 0; /* 처음에 숨김 */
    /* max-height: 0; 처음에 높이를 0으로 설정 */
    /* overflow: hidden; 넘치는 내용 숨기기 */
    /* transition: max-height 0.5s ease, opacity 0.5s ease;  */
    display: none;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

/* box2가 활성화된 상태 */
.box2.show {
    display: block;
}


/* Set gray background color and 100% height */
.sidenav {
    padding: 30px;
    background-color: #ffffff;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #dadada;
    height: fit-content;
}

.sidenav a{
    color: black;
    font-weight:bold;
    text-decoration:none;
}

.sidenav a:hover {
    color:  #31628b;
    font-weight:bold;
    text-decoration:underline;
}

.sidenav table th{
    color: #31628b;
}

.sidenav td{
    padding:7px 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.container2{
    display:flex;
    justify-content: flex-start;
    width:100%;
    gap:7%;
    margin:30px 0;
}

.container2.centered {
    gap: 5%;                 /* 간격 조정 */
}

.box{
    width:70%;
}

#answer{
    margin:25px 0;
}

.box2{
    width:50%;
}

.buttons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.q-title{
    font-size:smaller;
    color: #717171;
}


/* 피드백 박스 */
.feedback-header {
    padding: 5px 10px;
    background-color: #242222;
    color: white;
    /*width: 100%;*/
    border: none;
    /*text-align: left;*/
    /*outline: none;*/
    /*transition: background-color 0.3s ease;*/
    /*font-size: 16px;*/
}

/* 아코디언 패널 (숨겨진 내용) */
.panel {
    padding: 0 10px;
    background-color: #d0d0d042;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.progress.w-100.mb-5{
    height:18px;
}
.progress .progress-bar.bar {
    text-align:center;
    height: 100%; /* 프로그레스 바 높이 설정 */
}

.progress .progress-bar.bar{
    background-color:  #31628b;
}

.progress .progress-bar.stage{
    background-color: rgb(255 255 255);
    border-radius:5%;
    color: #605a5a;
    border: 3px solid #cfcfcf;
}

#next{
    background-color: #31628b;
    border-color: #31628b;
}

#previous{
    background-color: #31628b;
    border-color: #31628b;
}